.Description {
    position: relative;
    display: flex;
    height: auto;
    box-sizing: border-box;
}

.Introduction {
    border:dotted;
    text-align: left;
    width: 90%;
    position: relative;
    display: block;
}

.Skills {
    border:dashed;
    text-align: left;
    width: auto;
    position: absolute;
    top: 5%;
    left: 90%;
    display: block;
}