.Title {
    text-align: center;
    position: center;
    margin-top: 80px;
}

.Information {
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.Name {
    text-align: center;
    font-size: 28px;
    position: relative;
    text-decoration: none;
}

    .Name::after {
        content: '';
        width: 15%;
        height: 1px;
        background-color: black;
        position: absolute;
        top: 29px;
        left: 0%;
        border-radius: 20px;
        transition: all 200ms ease;
    }

    .Name:hover::after {
        left: 85%;
    }


.Header {
    margin: 0;
    position: relative;
    left: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    height: 30vw;
    min-height: 175px;
    max-height: 550px;
    min-width: 300px;
    color: #eee;
}

    .Header:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27,32,48,1) 100%);
    }

    .Header:before {
        content: "";
        width: 100%;
        height: 200%;
        position: absolute;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0);
        backface-visibility: hidden;
        transform: translateZ(0);
        background-image: url("Media/Mountain.png");
        background-size: 100%;
        background-attachment: fixed;
        animation: grow 100s linear 5ms infinite;
        transition: all 0.4s ease-in;
    }

@keyframes grow {
    0% {
        transform: scale(1) translateY(0px)
    }

    50% {
        transform: scale(1.2) translateY(-80px)
    }
}
