.description{
    position:relative;
    margin:auto;
}

.introduction{
    display: block;
    position:relative;
    margin:auto;
    width:80%;
    font-family: -apple-system, Arial, sans-serif; 
    padding:30px;

}

.intro-para{
    font-size: 2rem;
    font-weight: 400;
    text-align: justify;
    text-indent: 70px;
}

.cv{
    color: black;
}

.cv:active{
    color: hsl(197, 56%, 48%);
}

.cv:hover{
    color: hsl(197, 56%, 48%);
}

.introduction h5{
    font-size: 2.5rem;
    font-weight: 700;
    margin:auto;
    text-align: center;
}

.introduction hr{
    border-color:hsl(197, 56%, 48%);
    border-width: 1px;
}

.profile-pic{ 
    position: relative;
    z-index: -100;
    margin:auto;
    background-color: #fff;
    background-clip: padding-box;
    border:30px solid white;
    pointer-events: none;
}

.picture{
    display: block;
    margin:auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 100px;
    width: 80%;
    overflow: hidden;
    z-index: -100;
}

.skills-wrapp{
    display: line;
    margin-left: auto;
    margin-right: auto;
}

.skills{
    display:block;
    position: inherit;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 200px;
}

.skill-item{
    position: relative;
    resize: both;
    max-height: 96px;
    padding:2px;
    width: 20vw;
    max-width: max-content;
}

.i1{
    left: 50%;
    transform:translate(-400%, -25px) rotate(-5deg);
}

.i2{
    left: 50%;
    transform: translate(-400%, 20px) rotate(15deg);
}

.i3{
    left: 50%;
    transform: translate(-380%, -30px) rotate(0deg);
}

.i4{
    left: 50%;
    transform: translate(-420%, 40px) rotate(20deg);
    min-width: 90px;
}

.i5{
    left: 50%;
    transform: translate(-400%, -10px) rotate(-5deg);
}

.i6{
    left: 50%;
    transform: translate(-400%, 5px) rotate(4deg);
}

.i7{
    left: 50%;
    transform: translate(-400%, 35px) rotate(-10deg);
}

.i8{
    left: 50%;
    transform: translate(-430%, 30px) rotate(2deg);
    max-height: 70px;
    max-width: 86px;
}

@media screen and (max-width:1024px) {

    .skills{
        height: 80px;
    }

    .skill-item{
        position: relative;
        resize: both;
        max-height: 96px;
        width: 7vw;
        max-width: max-content;
    }
    
    .i1{
        left: 50%;
        transform:translate(-430%, -15px) rotate(-5deg);
    }
    
    .i2{
        left: 50%;
        transform: translate(-440%, 20px) rotate(15deg);
    }
    
    .i3{
        left: 50%;
        transform: translate(-450%, -20px) rotate(0deg);
    }
    
    .i4{
        left: 50%;
        transform: translate(-425%, 27px) rotate(20deg);
        width: 8vw;
        min-width: 8vw;
    }
    
    .i5{
        left: 50%;
        transform: translate(-520%, -10px) rotate(-5deg);
    }
    
    .i6{
        left: 50%;
        transform: translate(-530%, 0px) rotate(4deg);
    }
    
    .i7{
        left: 50%;
        transform: translate(-550%, 25px) rotate(-10deg);
    }
    
    .i8{
        left: 50%;
        transform: translate(-530%, 30px) rotate(2deg);
        max-height: 70px;
        max-width: 86px;
    }

}