.contact-info{
    font-family: -apple-system, Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    padding:30px;
}

.contact-message{
    cursor:default;
}

.contact-list{
    flex-direction: column;
    list-style: none;
}

.contact-list-item{
    margin: 10px;
}

.contact-list-item a{
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    color:black;
    
}

.contact-phone{
    cursor: url('/Media/phone.png') ,auto;
}

.contact-mail{
    cursor: url('/Media/mail.png') ,auto;
}

.contact-linkedin{
    cursor: url('/Media/linkedin.png') ,auto;
}

.contact-github{
    cursor: url('/Media/github.png') ,auto;
}
